<div (scroll)="onScroll($event)">
<canvas #bgCanvas></canvas>
<main>
  <header>
    <h1>Devarshi Goswami</h1>
    <p>🚀 Experienced Software Engineer specializing in Data Engineering and Business Applications</p>
  </header>

  <section>
    <h2>📌 Summary</h2>
    <p>
      An experienced software engineer specializing in developing robust and scalable data pipelines and business applications, ensuring high availability and efficient distribution of resources. Skilled in Python, SQL, JavaScript, and AWS technologies.
    </p>
  </section>

  <section>
    <h2>👨‍💻 Experience</h2>
    <article>
      <h3>Credit Saison, Bengaluru, KA - Software Engineer in Data</h3>
      <p>May 2022 - Present</p>
      <ul>
        <li>Developed financial modules within an internal loan management service handling data for 17 NBFCs.</li>
        <li>Built config-driven integrations for multiple partners into the loan management service.</li>
        <li>Deployed BI reports and ETLs, enhancing end-user participation and providing process recommendations.</li>
      </ul>
    </article>
    <article>
      <h3>Progress Software, Bengaluru, KA - Business Operations Analyst</h3>
      <p>Apr 2020 - May 2022</p>
      <ul>
        <li>Implemented a real-time metric analysis service, reducing costs by $25,000.</li>
        <li>Developed data pipelines and managed Amazon RDS and Redshift for analytics teams.</li>
        <li>Created 15+ dashboards for data-driven decision-making across departments.</li>
      </ul>
    </article>
    <article>
      <h3>Delhi Metro, Delhi, DL - Data Scientist</h3>
      <p>Jan 2020 - Apr 2020</p>
      <ul>
        <li>Pioneered Delhi Metro’s predictive maintenance solution using equivalence classes.</li>
        <li>Created ETL pipelines for operational issue analysis using statistical modeling.</li>
      </ul>
    </article>
  </section>

  <section>
    <h2>🚀 Projects</h2>
    <ul>
      <li>Xandar: A tool for ranking university courses and creating a corpus of news articles.</li>
      <li>GitHub Visualization: Data visualization of Git log data using D3.js.</li>
      <li>Patkai.in: A React marketplace for selling Bamboo artifacts made by artisan communities.</li>
    </ul>
  </section>

  <section>
    <h2>💻 Programming Skills</h2>
    <p>Languages: Python, JavaScript, SQL, QlikScript</p>
    <p>Technologies: AWS, React, Kafka, Docker, Kubernetes, Microservices, Apache Spark</p>
    <p>Software: Tableau, Qlik, Fiddler, Postman, Salesforce</p>
    <p>Libraries: Pandas, QuantLib, BeautifulSoup, D3.js, Selenium, PyTorch</p>
  </section>

  <footer>
    <p>Email: <a href="mailto:devarshigoswami97@gmail.com">devarshigoswami97&#64;gmail.com</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/devarshi-goswami97/">devarshi-goswami97</a></p>
  </footer>
</main>
</div>
